<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="../css/fondo_INICIO.css">
    <link rel="icon" href="../images/icono.png" type="image/x-icon">
</head>
<body>
<header class="bg_animate">


    <section class="banner contenedor">
        <secrion class="banner_title">
            <h2>Sistema de registro<br>de préstamo de BIBLIOTECA</h2>
            <a href="libro/tabla" class="iniciar">INICIAR</a>

</header>
</body>
</html>